


/* HEADER */

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%); */
  cursor: pointer;
  margin-top: 50px;
  z-index: 8;
}

.pre-btn {
  left: 0;

}

.nxt-btn {
  right: 0;
}

/* .pre-btn img,
.nxt-btn img {
  opacity: 0.2;
} */

/* .pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
} */







.product-container {

  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
}



























.scaled-element {
  transition: transform 0.5s ease-out;
}


.c-img {
  animation: slideinout 2s;
  }
  
  @keyframes slideinout {
  0% {
  transform: translateX(-100%);
  }
  100% {
  transform: translateX(0);
  }
  }


.carousel-container {
  position: relative;
  width: 100%;
  height: 504px;
}

.carousel-container > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2.5s ease;
  opacity: 0;
}

.carousel-container > div.active {
  opacity: 1;
}


.animation {
  width: 400px;
  height: 80px;
  background-color: brown;
  margin: 10px auto;
}