.scaled-element {
  transition: transform 0.5s ease-out;
}


.c-img {
  animation: slideinout 2s;
  }
  
  @keyframes slideinout {
  0% {
  transform: translateX(-100%);
  }
  100% {
  transform: translateX(0);
  }
  }


.carousel-container {
  position: relative;
  width: 100%;
  height: 504px;
}

.carousel-container > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2.5s ease;
  opacity: 0;
}

.carousel-container > div.active {
  opacity: 1;
}


.animation {
  width: 400px;
  height: 80px;
  background-color: brown;
  margin: 10px auto;
}